*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #D3D3D3;
}

header{
  display: block;
  text-align: left;
}

#section1 {
  background-color: #FFFFFF;
}

#first-header{
  display: none;
}

#logo-header{
  display: none;
}


#second-header{
  display: none;
}

#hamburg{
  padding-left: 25px;
  padding-top: 20px;
  width: 31px;
  height: 27.28px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

#main-banner{
  background-image: url("./images/concert-image2.jpg");
  background-position: center;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.5);
}


#logo-header{
  padding: 6px 122px 6px 0px;
  
}

#navbar-h2{
 display: none;
}

#main-banner{
  height: 486px;
}

#main-content h4{
padding: 27.62px 0px 0px 16px;
font-family: 'Lato', sans-serif;
color: #FFFFFF;
font-weight: 400;
}



#text-image{
  padding: 0px 0px 16px 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 30px;
  /* color: transparent; */
  color: #EC5242;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* background-image: url(./images/orangebg.jpg); */
  background-clip: text;
  -webkit-background-clip: text;
}

#second-parraf-banner h4{
  font-family: 'Lato', sans-serif;
  margin: 15px 15px 0px 15px;
  font-size: 20px;
  font-weight: 900px;
  padding-bottom: px;
  color: #D3D3D3;
}

#second-parraf-banner h6{
  font-family: 'Lato', sans-serif;
  margin: 8px 15px 15px 15px;
  font-size: 14px;
  font-weight: 400;
  color: #EC5242;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



#first-parraf-banner{
  padding: 15px;
  margin: 15px;
  border: solid #FFFFFF 2px;
  background-color: #f3efef;
  font-family: 'Lato', sans-serif;
  background-blend-mode: darken;
  background-color: rgba(255, 255, 255, 0.5);
}

#main-program {
  background-image: url("./images/pattern_bg.png");
  background-color: #272A31;
  background-repeat: repeat;
  background-size: 28px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

#main-program h3{
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 12px 30px;
}

.line{
 border: none;
 height: 2px;
 background-color: #EC5242;
 width: 10%;
 margin: 0 auto;
}

.cards-main-program{
  margin: 8px;
  background-color: rgba(182, 180, 180, 0.1);
  display: flex;
  font-family: 'Lato', sans-serif;
  align-items: center;
  height: 80px;
  width: 96%;
}

.cards-main-program h5{
  color: #EC5242;
  font-size: 13px;
  text-align: left;
  margin-left: 0px;
  width: 57px;
  margin-right: 15px;
  margin-left: 15px;
}

.cards-container{
  padding-top: 15px;
  padding-bottom: 25px;
}

.cards-main-program p{
  color: #FFFFFF;
  width: 60%;
  font-size: 12.5px;
  padding-right: 5px;
}

.img-cards-main-program{
  width: 40px;
  height: 40px;
  margin-left: 0px;
  padding-left: 15px;
  width: auto;
}

#main-program button {
  padding: 23px;
  width: 280px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #EC5242;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

#main-program button:hover {
  background-color: #f5897d;
}

#main-program button:active {
  background-color: #f5301a;
}

#featured-speaker{
  display: flex;
  flex-direction: column;
  padding: 35px 10px 35px 10px;
  background-color: #FFFFFF;
  height: 365px;
}

#featured-speaker h2{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 10px;
}

.line2{
  border: none;
  height: 2px;
  background-color: #EC5242;
  width: 10%;
  margin: 0 auto;
}

.speakers-cards{
  display: flex;
  width: 100%;
  font-family: 'Lato', sans-serif;
  height: 80px;
  padding: 25px 0px 25px 0px;
}

.speakers-cards img{
  width:107px;
  height: 106.4px;
  float: right;
}

.info-speakers {
 padding: 8px;
}

.info-speakers h3{
  padding-bottom: 12px;
  font-weight: 700;
  font-size: 15px;
}

.info-speakers h5{
  color: #EC5242;
  font-size: 8px;
  font-weight: 700;
  padding-bottom: 5px;
}


.info-speakers p{
  font-size: 8px;
  font-weight: 700;
  padding-top: 15px;
  width: 235px;
}

.line3{
  height: 1px;
  background-color: #D3D3D3;
  width: 10%;
  margin: 0 auto;
  border: none;
  margin-left: 0;
}

#button-more{
 margin-top: 30px;
 background-color: #FFFFFF;
 border: 1px solid #D3D3D3;
 padding: 10px;
 font-family: 'Lato', sans-serif;
 font-weight: 700;
 font-size: 13px;
 cursor: pointer;
}

#button-more:hover{
  background-color: #ffffff5d;
 }

 #arrow-more{
  width: 9px;
  color: #EC5242;
  padding-left: 8px;
  
 }

 .menu-responsive {
  display: none;
}

.menu-responsive {
  position: fixed;
  z-index: 9999;
  background-color: #EC5242;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.items-menu-responsive {
  display: flex;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding: 20px 0 25px 28px;
  cursor: pointer;
  height: 24px;
  width: 251px;
  left: 0;
  top: 8px;
  border-radius: nullpx;
  position: relative;
}

.items-menu-responsive:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.9s ease-out;
}

.items-menu-responsive:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.x-section {
  display: flex;
  justify-content: end;
  padding: 38px 18px 5px 5px;
  cursor: pointer;
}


.menu-responsive li button {
  height: auto;
  padding: 20px;
  background-color: #FFFFFF;
  color: #EC5242;
  border: 3px solid #EC5242;
  margin-top: 25px;
  margin-left: 25px;
  font-size: 20px;
}

.menu-responsive button:hover{
  background-color: #EC5242;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

.menu-responsive button:active{
  background-color: #f92f18;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}




@media (min-width: 768px) {
  header{
    display: block;
    text-align: left;
  }
  
  #first-header{
    display: flex;
    background-color: #272A31;
    justify-content: end;
    padding: 5px 230px 5px 0px;
    color: #FFFFFF;
    
  }
  
  #first-header img{
    padding: 5px 10px 5px 0px;
   width: 15px;
   height: 100%;
    
  }
  
  #navbar-h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
  }
  
  #navbar-h1 li{
    padding-right: 10px;
    list-style: none;
  }
  
  #navbar-h1 li a{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
  }
  
  #second-header{
    background-color: #FFFFFF;
    display: flex;
    height: 50px;
    padding: 10px 230px 10px 230px;
    justify-content: center;
    align-items: center;
  }
  
  #second-header img{
    height: 100%;
  }
  
  #second-header button{
   height: auto;
   padding: 10px;
   background-color: #FFFFFF;
   color: #EC5242;
   border: 3px solid #EC5242;
    
  }
  
  #second-header button:hover{
    background-color: #EC5242;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  #navbar-h2{
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }
  
  #navbar-h2 li{
    list-style: none;
    width: auto;
    padding: 15px 30px 15px 30px;
    font-family: 'Lato', sans-serif;
  }
  
  #navbar-h2 li a{
    text-decoration: none;
    color: #272A31;
    size: 30px;
  }
  
  #navbar-h2 li a:hover{
    color: #EC5242;
  }
}
